#main {
  color: white;
  position: relative;
  height: 840px;
  text-align: center;
}

#flex {
  zoom: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

#flex .teams {
  width: 50%;
  text-transform: capitalize;
}

#flex #LeftTeam {
  background-color: #153259;
}

#flex #LeftTeam .leftButtons {
  width: 28%;
  height: 50px;
  margin-bottom: 2px;
}

#flex #LeftTeam .leftButtons2 {
  width: 20%;
  height: 25px;
}

#flex #RightTeam {
  background-color: #b6202b;
}

#flex #RightTeam .rightButtons {
  width: 28%;
  height: 50px;
  margin-bottom: 2px;
}

#flex #RightTeam .rightButtons2 {
  width: 20%;
  height: 25px;
}

.teamnames {
  font-size: 2.5rem;
  width: 100%;
}

@media (max-width: 1400px) {
  .teamnames {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .teamnames {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .teamnames {
    font-size: 0.5rem;
  }
}

#loyalfans {
  zoom: 1.5;
  background: purple;
  opacity: 0.85;
  width: 22%;
  position: absolute;
  top: 0;
  left: 39%;
}

#lfname {
  font-size: 2rem;
  padding-top: 4.4%;
}

@media (max-width: 1400px) {
  #lfname {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  #lfname {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  #lfname {
    font-size: 0.5rem;
  }
}

#togglelf {
  position: absolute;
  top: 0;
  height: 4.4%;
  width: 4%;
  left: 48%;
}

#resetall {
  position: absolute;
  left: 45%;
  width: 10%;
  height: 50px;
  bottom: 0;
}

#otherthings {
  position: absolute;
  left: 45%;
  width: 10%;
  height: 50px;
  top: 40em;
}

button {
  background: #2f4f4f;
  opacity: 0.84;
  color: white;
  border: none;
  outline: none;
}
