.teams {
Width: 50%;
text-align: center;
color: white;
border: 2px;
}
#BlueTeam {
zoom: 2;
background-color: blue;
float: left;
}
#RedTeam {
zoom: 2;
background-color: red;
float: right;
}
#loyalfans {
zoom: 1.5;
opacity: 0.9;
position: absolute;
margin: auto;
left: 37.5%;
background-color: purple;
width: 25%;
}
#togglelf {
position: absolute;
margin: auto;
left: 48.7%;
width: 50px;
height: 35px;
}
#resetall {
position: relative;
margin: auto;
left: 47.5%;
width: 100px;
height: 50px;
top: 68%;
}
#otherthings {
	position: absolute;
	margin: auto;
	left: 47.5%;
	width: 100px;
	height: 50px;
	top: 55%;
}
.teamnames {
width: 100%;
}
.bluebuttons {
width: 28%;
height: 50px;
}
.bluebuttons2 {
width: 20%;
height: 25px;
}
.redbuttons {
width: 28%;
height: 50px;
}
.redbuttons2 {
width: 20%;
height: 25px;
}